@media only screen and (max-width: 420px) {
  .repons{
      font-size: xx-small;
  }
  .respons-comment{
      font-size: small;
  }
  .up{
      font-size: smaller;
  }
}


.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

